:root{
    /* 灰階色 */
    --charcoal:#111;
    --dark:#444;
    --grey:#999;
    --light:#f1f1f1;

    /* 背景色 */
    --bg-1:#f2edf0;
    --bg-2:#e6ece5;
    --bg-3:#ecf0f4;

    /* 輔助色 */
    --secondary-1:#f3e4e4;
    --secondary-2:#efdbdb;
    --secondary-3:#cdaaab;
    --secondary-4:#8f6b6d;

    /* 圓角 */
    --radius-full:99px;
    --radius-card:20px;
    --radius-small:10px;

    /* 字級 */
    --font-xl:2.9rem;
    --font-lg:1.8rem;
    --font-md:1.4rem;
    --font-sm:1rem;
    --font-xs:.8rem;

    /* 間距 */
    --space-sm:10px;
    --space-md:20px;
}